services:
  dynamodb-local:
    image: amazon/dynamodb-local:latest
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    command: ["-jar", "DynamoDBLocal.jar", "-sharedDb", "-inMemory"]
    environment:
      - AWS_ACCESS_KEY_ID=dummy
      - AWS_SECRET_ACCESS_KEY=dummy
      - AWS_DEFAULT_REGION=us-east-1

  # sensor-app:
  #   image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/sensor-app:latest
  #   container_name: sensor-app
  #   depends_on:
  #     - dynamodb-local
  #   environment:
  #     - AWS_ENDPOINT_URL=http://dynamodb-local:8000
  #     - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
  #     - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
  #     - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION:-us-east-1}
  #   network_mode: host
  #   volumes:
  #     - .:/app
  #   working_dir: /app
  #   privileged: true
  #   command:
  #     [
  #       "python",
  #       "-m",
  #       "app.sensor.src.main",
  #       "--interface",
  #       "en0",
  #       "--filter",
  #       "tcp",
  #     ]

  sensor-app-local:
    build: .
    container_name: sensor-app-local
    depends_on:
      - dynamodb-local
    environment:
      - AWS_ENDPOINT_URL=http://dynamodb-local:8000
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID:-dummy}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY:-dummy}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION:-us-east-1}
    ports:
      - "8080:8080" # Exponer puerto HTTP
      - "4789:4789/udp" # Exponer puerto UDP para testing
    # network_mode: host
    volumes:
      - .:/app
    working_dir: /app
    privileged: true
    command:
      [
        "python",
        "-m",
        "app.sensor.src.main",
        "--udp-port",
        "4789",
        "--http-port",
        "8080",
      ]
